*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/app/build/
/build/
/app/release/
keystore.properties
releasekey.jks
.kotlin/sessions/kotlin-compiler-12646505860935859618.salive
